# enviroment variable for docker-compose y backend

# mysql
MYSQL_DATABASE=form_gallery
MYSQL_ROOT_PASSWORD=rootpassword
MYSQL_USER=gallery_user
MYSQL_PASSWORD=gallery_pass
MYSQL_HOST=db
MYSQL_PORT=3306

# backend
BACKEND_PORT=3001
JWT_SECRET=your_jwt_secret  use hashed password
